@media (max-width:965px) {
    .contactbox {
        justify-content: start;
        margin-right: 60px;
    }
    #fbuttright{
        margin-right: 50px;
    }
}

@media (max-width:800px) {
    .navbar {
        display: none;
    }

    .mainscreen {
        width: 95vw;
    }

    .codetag,
    #element,
    .codelin {
        font-size: 15px;
    }

    .bannertext {
        width: 100%;
        height: 60%;
    }

    .banner {
        flex-direction: column;
        align-items: start;
        /* width: 100%; */

    }

    .contactbox {
        width: 100%;
        height: 40%;
        justify-content: end;
        /* margin-left: 10px; */
        margin-bottom: 10px;


    }

    .contactbtn {
        padding: 5px;
        margin-right: 10px;
        border-radius: 6px;
    }

    .intro {
        width: 100%;
        flex-direction: column;
        gap: 20px;
        margin-top: 60px;
    }

    #intropage {
        flex-direction: column;
    }

    #introimg {
        /* margin-top: 65px; */
        width: 100%;
        height: 40%;
    }

    #pimg {
        width: 85%;
    }

    #introspecs {
        width: 100%;
        height: 35%;
        align-items: start;
    }

    #icontent {
        width: 80%;
        height: 80%;
    }

    #icontent h1 {
        font-size: 33px;
    }

    #icontent h2 {
        font-size: 18px;
    }

    #icontent p {
        font-size: 12px;
    }

    .socialhandles {
        gap: 15px;
    }

    #socialhandlesicons {
        width: 150px;
        gap: 5px;
    }
    .skills{
        margin-top: 50px;
    }
    #projectsboxes {
        width: 100%;
        margin-top: 20px;
    }

    #projectbox {
        flex-direction: column;
        margin-top: 30px;
        width: 100%;
        justify-content: space-around;
    }

    #projectimage {
        width: 100%;
        /* height: 100%; */
    }

    #prjtimg img {
        width: 95%;
    }
    #projectdetail{
        width: 85%;
        padding: 0px;
    }


    .footer{
        gap: 5px;
    }
    #fbuttright{
        margin: 0px;
    }
    #fcontents{
        flex-direction: column;
        gap: 10px;
    }
    #fname{
        width: 100%;
    }
    #fname{
        width: 100%;
    }
    #flinks{
        width: 100%;
    }
    #fllist{
        flex-direction: row;
        justify-content: start;
        padding: 5px 0px;
    }
    #fllist a{
        font-size: 20px;
    }
    #fabout{
        display: none;

    }
}